/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Patrick+Hand&display=swap');

.container {
    margin: 0px;
    padding: 5px;
    overflow-y: auto; /* Vertical scroll */
    display: flex;
    flex-direction: column; /* stack children vertically */
    justify-content: flex-start;
    height: 84vh; /* fill viewport height */
    box-sizing: border-box;
    background-color: #F4F0FA; /* Lavender Mist */
    border: 2px solid #2e1f5e;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.window {
    padding: 5px;
    background-color: #F4F0FA; /* Lavender Mist */
    border: 2px solid #2e1f5e;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.grid {
    display: grid;
    grid-template-columns: 5fr 6fr 4fr;
    height: 84vh;
    column-gap: 10px;
    scrollbar-color: #B8E0FF #ECE7F6;
    scrollbar-width: thin;
    border-radius: 8px;
}

.verticalgrid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.title {
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    font-size: 2rem;
}

.subtitletext {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    border-bottom: 2px solid #2e1f5e;
}

.catpic {
    width: 100px;
    height: auto;
    border: 3px inset #000;
    border-radius: 7px;
}

.catrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    background-color: #F4F0FA; /* Lavender Mist */
    border-bottom: 2px solid #2e1f5e;
}

p {
    font-family: 'Patrick Hand', cursive;
    margin: 2px;
    padding: 1px;
}

span {
    font-family: 'Patrick Hand', cursive;
    font-size: 1rem;
}

body {
    background-color: #ECE7F6; /* Light Lavender */
    color: #2e1f5e; /* Indigo Gray text */
}

button {
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    padding: 16px 16px;
    border-radius: 8px;
    text-align: center;
    margin-top: 0px;
    transition-duration: 0.2s;
    background-color: #B8E0FF; /* Powder Blue */
    color: #2e1f5e;
    border: 2px solid #2e1f5e;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

button:hover {
    background-color: #B4C5FF; /* Periwinkle Blue */
    color: white;
    transform: scale(1.02);
    transition: transform 0.15s ease-in-out;
}

button:active {
    background-color: #7D6B91; /* Deep Lilac */
    color: white;
    border-color: white;
}

.upgradebutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 4px;
}

.upgradetext {
    font-size: 125%;
}

.upgraderow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4px 0;
}

.upgradepic {
    width: 75px;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

#meowsCounter {
    font-family: 'Comic Sans MS', 'Comic Neue', cursive, sans-serif;
    font-weight: normal;
    font-size: 2rem;
    margin: 0.25em 0;
    color: #1f1a3b;
    /-webkit-text-stroke: 1px #1f1a3b;
    /-webkit-text-fill-color: #9AD0EC;
}

#catclickwindow {
    height: 54vh;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#pawEffectCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#weatherCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#backdropImage {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    pointer-events: None;
}

#weatherText {
    position: absolute;
    z-index: 3;
    pointer-events: none;
    bottom: 88%;
    background-color: #e5e6fa;
    border-color: #1f1a3b;
    border-width: 4px;
    border-radius: 8px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
}

#catButton {
    background-image: url("./images/catclickface.svg");
    border: none;
    background-color: transparent;
    padding: 70px 70px;
    transition-duration: 0.2s;
    animation: breathe 3s ease-in-out infinite;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 3;
}
#catButton:hover {
    background-color: rgba(164, 246, 246, 0.49);
    padding: 75px 75px;
    transition-duration: 0.2s;

}
#catButton:active {
    background-image: url("./images/catclickmouth.svg");
    border: none;
    background-color: rgba(164, 246, 246, 0.49);
    padding: 80px 80px;
    transition-duration: 0.2s;
}
@keyframes breathe {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

/* Cat shop */
.grid > div:nth-child(1) {
    background: linear-gradient(to right, #f2ebfc, #e6e0fa);
}
/* Cat window */
#midwindow > div:nth-child(1) {

}
/* Nine lives */
#midwindow > div:nth-child(2) {
    background: linear-gradient(to right, #fdf7f3, #f8ecda);
}
/* Upgrade shop */
.grid > div:nth-child(3) {
    background: linear-gradient(to right, #eaf2ff, #dce9ff);
}

